html, body {
    margin: 0;
    padding: 0;
  }

  .container {
    padding: 10px;
    /* display: grid; */
    gap: 10px;
    display: grid;
    /* width: 100%;
    height: 100%; */
    grid-template:
    [header-left]"head  head" 30px [header-right]
    [main-left] "playscreen  kinnectscreen" 1fr 1fr [main-right]
    / 120px 1fr;
    grid-gap: 10px;
  }

  #nav-bar {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* grid-area: head; */
  }

  #round-button {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 10x 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 100px;
    height: 40px;
  }

  canvas {
    background-color:rgb(43, 226, 141);
    display: block;
    /* grid-column: 1/2;
    grid-row: 2/3; */
    grid-area: playscreen;
  }


  /* #canvas-container{
    background-color:blueviolet;
    width: 50%;
    display: flex;
  } */

  #kinect-window {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 199, 255);
    grid-area: kinnectscreen;
    /* grid-column: 1; */
    /* grid-row: 2/3; */
  }







