html, body {
  margin: 0;
  padding: 0;
}


.container {
  padding: 10px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 1fr 200px;
}

#s-container {
  padding: 10px;
  gap: 10px;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 1fr 200px;
}

  #nav-bar {
    background-color: #4379ac;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1;
    grid-column: 1;
    padding: 10px;

  }

  #round-button {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 10x 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 50%;
    width: 80px;
    height: 40px;
  }
#round-button {
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 10x 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 3px 2px;
  cursor: pointer;
  border-radius: 50%;
  width: 80px;
  height: 40px;
}


canvas {
  background-color:rgb(43, 226, 141);
    background-color:rgb(43, 226, 141);
  display: block;
  grid-column: 1/2;
  grid-row: 2/3;
}





  #kinect-window {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #babcbc;
    grid-column: 2/3;
    grid-row: 2/3;
  }

img {
  float: left;
  padding: 5px;
  /* display: block; */
  /* margin: 0 auto; */
}

/* #colleges {
  text-align: justify;
  width: 120px;
} */
  #start-button {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 10x 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 50%;
    width: 160px;
    height: 80px;
  }


table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #aaa;
  padding: 5px;
  text-align: left;
}